*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Archivo Black';
  height:100vh;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #6cb9bf;
    flex-direction: column;
  
}

header{
    width: 100%;
    background-color: #ebdb86;
    text-align: center;
    margin-bottom:1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:auto;
}

.navbar-link, .logout-link {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 2rem;
}

.username {
    color: white;
    font-size: 1.6rem;
}

.flower__img {
    position: absolute; 
    width: 10rem; 
    height: auto; 
    transition:  0.3s, transform 0.3s;
}

.flower__img:hover{
    transform: scale(1.10);
}

.flower__img--1{
    top: 5rem; 
    left: 5rem;
}

.flower__img--2 {
    bottom: 2rem;
    right:  5rem;
}

.flower__img--3 {
    bottom: 2rem;
    left: 15rem;
}

.flower__img--4 {
    bottom: 50rem;
    right: 10rem;
}

.question__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    gap: 0.8rem;
    font-size:2rem;
    background-color:  rgba(239, 135, 158, .9);
    width:47%;
    box-sizing: border-box;
    padding:2rem;
    color: #6cb9bf;
}

.question__input{
    border:none;
    font-size:2rem;
    background-color: #ebdb86;
    border-radius: 2.5rem;
    padding:1rem;
}

.question__form > h1{
    background-color: #ebdb86;
    border-radius: 2.5rem;
    padding:1rem;
}

.question__input_field{
    border-radius: 2rem;
    padding: 1.4rem 2.8rem;
    border:none;
}

.button__form{
    border:none;
    font-size:3rem;
    border-radius: 2rem;
    font-family: 'Archivo Black';
    padding: 1.4rem 2.8rem;
    background-color: #ebdb86;
    cursor: pointer;
    color: #6cb9bf;
    transition:  0.3s, transform 0.3s;
    text-decoration: none;
}

.button__form:hover {
    transform: scale(1.05);
}

